@media (min-width: 576px) {

    .search-icon {
        position: absolute;
        width: 45px;
        right: 45px;
        top: 0;
        bottom: 0;
        background-color: #ff4a52 !important;
    }
    .search-icon a {
        color: white;
    }
    .drop-down-menu {
        position: absolute;
        width: 45px;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #1ec6b6;
        z-index: 5;
        justify-content: center;
        align-items: center ;
        border: none;
    }
    .drop-down-menu a {
        color: aliceblue;
    }

 }

@media (min-width: 768px) { }


@media (min-width: 992px) {

    nav li {
        display: inline-block;
    }
    .drop-down-menu {
        display: none !important;
    }
    .search-icon {
        right: 0%;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
    }

 }

@media (min-width: 1200px) { 

    .search-icon {
        width: 100px;
    }
    .search-bar {
        flex-direction: row;
        justify-content: center;
    }
    .search-form {
        flex-direction: row;
        justify-content: center;
    }

    .newsletter-container {
        flex-direction: row;
        justify-content: center;
    }
    .mail-form {
        display: block;
    }
    .newsletter-text {
        margin-top: 0;
        margin-right: 10px;
    }    
}