* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    transition: color .3s;
}
a:hover {
    color: #ff4a52;
}

li {
    list-style: none;
    cursor: pointer;
    transition: color .2s;
}

li:hover {
    color: #ff4a52;
}
ul {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex !important;
}
.w-100 {
    width: 100% !important;
}
.w-50 {
    width: 50% !important;
}
.row-100 {
    width: 100%;
    display: flex;
}
.font-15 {
    font-size: 15px !important;
}
header {
    background-color: #ffffff;
    justify-content: space-around ;
    padding: 25px 0;
    position: relative;
}

nav li {
    display: none;
    margin-right: 35px;
    font-size: 1.3em;
    margin-top: 12px;
    font-weight: 600;
}

.search-icon {
    justify-content: center;
    align-items: center ;
}

.search-icon a {
    color: rgb(31, 30, 30);;
}
.drop-down-menu a {
    color: rgb(31, 30, 30);
}

.slider {
    background-image:url(../images/banner2.png);
    height: 50vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider-text {
    justify-content: space-around;
    height: 45vw;
    align-items: center;
    flex-direction: column;
}

.slider-text h3 {
    font-size: 8vw;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 500;
    color: #ece5e5;
    line-height: 10vw;
}

.slider-text p {
    font-size: 1.9vw;
    font-weight: 400;
    color: white;
}

.slider-btn {
    background-color: #1ec6b6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 1vw 1.5vw;
    transition: 0.3s;
}

.slider-btn a {
    color: white;
}

.slider-btn:hover {
    background-color: #ff4a52;
}

.search-bar {
    background-color: #040e27;
    flex-direction: column;
    padding: 20px 25px ;
    align-items: center;
}
.search-form {
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.search-bar h3 {
    color: aliceblue;
}

input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #363E52;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 17px 50px;
    color: white;
    outline: 0;
}

.search-btn {
    background-color: #ff4a52;
    color: white;
    padding: 17px 39px;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #1EC6B6;
    color: white!important;
}

.search-bar h3 {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.popular-heading {
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    text-align: center;
}

.popular-title {
    font-size: 35px;
    font-weight: 600;
    color: #040e27;
    margin: 10px;
}

.popular-description {
    font-size: 16px;
    color: #7a838b;
    line-height: 30px;
}

.popular-container {
    flex-wrap: wrap;
    justify-content: center;
}

article img {
    margin-bottom: 20px;
    height: 280px;
}

.popular-container article {
    position: relative;
    cursor: pointer;
    margin: 0 10px;
    transition: transform .3s;
}

.popular-container article:hover {
    transform: translateY(-10px);
}

.popular-container article::before {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(4, 14, 39, 0) 0%, rgba(4, 14, 39, 0.541) 100%);
    content: '';
    width: 100%;
    height: 92.4%;
    z-index: 5;
    border-radius: 5px; 
}

.popular-image-info {
    position: absolute;
    left: 30px;
    bottom: 50px;
    z-index: 10;
}
.popular-image-info p {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    transition: 0.3s;
}
.popular-image-info a {
    background-color: #1EC6B6;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 400;
    padding: 7px 12px;
    color: #fff;
    margin-left: 10px;
}

.popular-container article:hover .popular-image-info p {
    color: #ff4a52;
    transition: 0.3s;
}
.popular-container article:hover .popular-image-info a {
    color: #fff;
    background-color: #ff4a52;
    transition: 0.3s;
}

.newsletter {
    background-image: url(../images/newsletter.png);
    background-position: 65% 65%;
    background-size: cover;
    height: 250px;
    position: relative;
}

.newsletter-container {
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.newsletter-text {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}

.newsletter::before {
    position: absolute;
    content: '';
    background-color: #040e27;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .6;
    
}

.newsletter-text h4 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}

.newsletter-text p {
    font-size: 12px;
    font-weight: 500;
    color: #aab1b7;
}

.mail-form {
    display: flex;
    flex-direction: column;
}

.mail-form input {
   width: 40vw;
   height: 50px;
   color: #000;
   background-color: #fff;
   margin: 10px 0;
   padding-left: 15px;
   border-radius: 5px;
   border: none;
   font-size: 16px;
   font-weight: 400;  
}

.newsletter-btn {
    background-color: #ff4a52;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 16px 12px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
}

.video {
    background-image: url(../images/video.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding: 130px 0;
    margin: 15px 0;
    position: relative;
}

.video::before {
    position: absolute;
    top: 0;
    left: 0;
    background: #040e27;
    opacity: .2;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}

.video-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
}
.video-container h3 {
     font-family: "Nothing You Could Do", cursive;
    font-weight: 600;
    font-size: 7vw;
    color: #fff;
    margin-bottom: 30px;
}

.video-button {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #1ec6b6;
    justify-content: center;
    align-items: center;
    transition: background .6s;
    cursor: pointer;
}
.video-button a {
    color: #fff;
}
.video-button:hover {
    background-color: #ff4a52;
}

footer {
    background-color: #040e27;
    padding: 60px 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px;
}
.left-footer {
    margin-bottom: 20px;
}
.footer-info li {
    color: #aab1b7;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.footer-title {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.links li {
    width: 50%;
    float: left;
    font-size: 14px;
    line-height: 35px;
}
.links li a {
    color: #aab1b7;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}
